# basic

# algorithm
algorithm/C/cmake-build-debug
algorithm/C/.idea
algorithm/algorithm_cpp/.idea
algorithm/algorithm_java/.idea
algorithm/algorithm_python/.idea
algorithm/3-1/syu-algorithm/.idea
algorithm/3-1/syu-algorithm/cmake-build-debug