<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-4.2.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

    <context:component-scan base-package="com.springbook.biz.mvc"></context:component-scan>

    <!-- 어노테이션 기반 AOP 설정 -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!-- DataSource 설정 -->
    <context:property-placeholder location="classpath:application.properties" />
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${spring.datasource.driver-class-name}" />
        <property name="url" value="${spring.datasource.url}" />
        <property name="username" value="${spring.datasource.username}" />
        <property name="password" value="${spring.datasource.password}" />
    </bean>

    <!-- Spring JDBC 설정 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- Transaction 설정 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!-- Transaction 관리 Advice 설정 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true" />
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <!-- Transaction 적용을 위한 AOP 설정 -->
    <aop:config>
        <aop:pointcut id="txPointcut" expression="execution(* com.springbook.biz..*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
    </aop:config>


    <!--
    <bean id="before" class="com.springbook.biz.common.BeforeAdvice" />
    <bean id="afterReturning" class="com.springbook.biz.common.AfterReturningAdvice" />
    <bean id="afterThrowing" class="com.springbook.biz.common.AfterThrowingAdvice" />
    <bean id="after" class="com.springbook.biz.common.AfterAdvice" />
    <bean id="around" class="com.springbook.biz.common.AroundAdvice" />

    <aop:config>
        <aop:pointcut id="allPointcut" expression="execution(* com.springbook.biz..*Impl.*(..))" />

        <aop:aspect ref="before">
            <aop:before pointcut-ref="allPointcut" method="beforeLog" />
        </aop:aspect>

        <aop:aspect ref="afterReturning">
            <aop:after-returning pointcut-ref="allPointcut" method="afterLog" returning="returnObj" />
        </aop:aspect>

        <aop:aspect ref="afterThrowing">
            <aop:after-throwing method="exceptionLog" pointcut-ref="allPointcut" throwing="exceptObj" />
        </aop:aspect>

        <aop:aspect ref="after">
            <aop:after method="finallyLog" pointcut-ref="allPointcut" />
        </aop:aspect>

        <aop:aspect ref="around">
            <aop:around pointcut-ref="allPointcut" method="aroundAdvLog" />
        </aop:aspect>
    </aop:config>
    -->

</beans>