<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-4.2.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <context:component-scan base-package="com.springbook.biz" />
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <context:property-placeholder location="classpath:config/database.properties" />
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>


    <!--
    <bean id="before" class="com.springbook.biz.common.BeforeAdvice" />
    <bean id="afterReturning" class="com.springbook.biz.common.AfterReturningAdvice" />
    <bean id="afterThrowing" class="com.springbook.biz.common.AfterThrowingAdvice" />
    <bean id="after" class="com.springbook.biz.common.AfterAdvice" />
    <bean id="around" class="com.springbook.biz.common.AroundAdvice" />

    <aop:config>
        <aop:pointcut id="allPointcut" expression="execution(* com.springbook.biz..*Impl.*(..))" />

        <aop:aspect ref="before">
            <aop:before pointcut-ref="allPointcut" method="beforeLog" />
        </aop:aspect>

        <aop:aspect ref="afterReturning">
            <aop:after-returning pointcut-ref="allPointcut" method="afterLog" returning="returnObj" />
        </aop:aspect>

        <aop:aspect ref="afterThrowing">
            <aop:after-throwing method="exceptionLog" pointcut-ref="allPointcut" throwing="exceptObj" />
        </aop:aspect>

        <aop:aspect ref="after">
            <aop:after method="finallyLog" pointcut-ref="allPointcut" />
        </aop:aspect>

        <aop:aspect ref="around">
            <aop:around pointcut-ref="allPointcut" method="aroundAdvLog" />
        </aop:aspect>
    </aop:config>
    -->

</beans>