<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seungsu.zerock.repository.BoardRepository">
    <select id="getBoardList" resultType="com.seungsu.zerock.domain.BoardVO">
        SELECT * FROM tb1_board
    </select>

    <select id="getBoard" resultType="com.seungsu.zerock.domain.BoardVO">
        SELECT * FROM tb1_board WHERE bno=#{bno}
    </select>

    <insert id="insertBoard" parameterType="com.seungsu.zerock.domain.BoardVO">
        INSERT INTO tb1_board(title, content, writer)
        VALUES(#{title}, #{content}, #{writer})
    </insert>

    <update id="updateBoard" parameterType="com.seungsu.zerock.domain.BoardVO">
        UPDATE tb1_board
        SET title = #{title},
        content = #{content},
        writer = #{writer},
        updateDate = NOW()
        WHERE bno = #{bno}
    </update>

    <delete id="deleteBoard" parameterType="Long">
        DELETE FROM tb1_board WHERE bno = #{bno}
    </delete>
</mapper>